
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 150px; 
}
/* VIDEO SECTION*/

.video{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}

.container2:hover .overlay{
    opacity: 1;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* seperating the video from the picture*/

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    border-radius: 25px;
}

.container{
    position: relative;
    text-align: center;
    color: pink;
    font-size: 2em;
}

.bottom-right{
    position: absolute;
    bottom: 40px;
    right: 450px;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}

.container:hover .overlay{
    opacity: 1;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    color: darkviolet;
    font: italic;
}

.row: after{
    content: "";
    display: table;
    clear: both;
}

table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding: 8px;
}

table td, table th{
    border: 1px solid black;
    padding: 8px; 
}
tr:nth-child(1){
    background-color: blueviolet;
}

footer{
    text-align: center;
    font: bolder;
}
footer a:hover{
    background-color: forestgreen;
}
}